.card-thumbnail {
	object-fit: cover;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

@media only screen and (min-width: 768px) {
	.card-thumbnail {
    width: 100% !important;
    height: 100% !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: calc(0.25rem - 1px) !important;
  }
      
  .card-thumbnail-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .news-card-score-overlay {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  /* Make the card score button bigger on mobile screens */
  .news-card-score-button {
    padding: .5rem 1rem !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
    border-radius: .3rem !important;
  }

  .ripple-overlay {
    margin-right: 0px !important;
  }
}

.news-card-score-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}

.callout {
  border: 1px solid white;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.news-card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ripple-overlay { 
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-left: 0 !important;
}

.ripple { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 40px);
  right: 0;
  
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;

  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 2s ease-in-out;
  -ms-transition: -ms-transform 2s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.animate-ripple {
  -webkit-transform: scale(50);
  -moz-transform: scale(50);
  -o-transform: scale(50);
  -ms-transform: scale(50);
  transform: scale(50);
  opacity: 1;
}

.block-events {
  pointer-events: none !important;
}

.metric-breakdown-content {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  color: white;
}

.animate-metric-breakdown-content {
  transition-delay: 0.1s;
  opacity: 1;
}

.user-metric-status {
  opacity: 0;
  transition: opacity 0.5s ease-in-out !important;
  pointer-events: all !important;
  /* border: 1.5px solid !important; */
}

.animate-user-metric-status {
  transition-delay: 0.2s !important;
  opacity: 1 !important;
}

.rate-button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out !important;
}

.animate-rate-button {
  transition-delay: 0.2s !important;
  opacity: 1 !important;
}